<nav class="navbar">
  <div class="brand">
    <a routerLink="/" class="logo-link">
      <div class="logo">
        <img src="assets/newLogoResolvr.png" alt="ResolVR Logo" />
      </div>
      <span class="brand-text">resolvr</span>
    </a>
  </div>
  <div class="menu-container">
    <ul class="nav-links">
      <li><a routerLink="/" routerLinkActive="active">Home</a></li>
      <li><a routerLink="/about" routerLinkActive="active">About</a></li>
      <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
      <li><a routerLink="/careers" routerLinkActive="active">Careers</a></li>
    </ul>
    <div class="cta">
      <a routerLink="/contact-us" class="cta-button">Let's Connect →</a>
    </div>
  </div>
</nav>