<nav class="navbar" [class.scrolled]="isScrolled">
  <div class="brand">
    <a routerLink="/home" class="logo-link">
      <div class="logo">
        <img src="assets/newLogoResolvr.png" alt="ResolVR Logo" />
      </div>
      <span class="brand-text">resolvr</span>
    </a>
  </div>

  <!-- Burger Menu for Mobile -->
  <div class="burger" [class.active]="menuOpen" (click)="toggleMenu()">
    <div></div>
    <div></div>
    <div></div>
  </div>

  <!-- Navigation Links -->
  <div class="menu-container" [class.active]="menuOpen">
    <ul class="nav-links">
      <li>
        <a
          routerLink="/home"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >Home</a
        >
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li class="dropdown" [class.open]="dropdownOpen">
        <a
          routerLink="/services"
          class="dropdown-toggle nav-item"
          routerLinkActive="active"
          (click)="toggleDropdown($event)"
          >Services</a
        >
        <ul class="dropdown-menu">
          <li>
            <a
              routerLink="/services/custom-software-development"
              routerLinkActive="active"
              >Product Development</a
            >
          </li>
          <li>
            <a
              routerLink="/services/product-improvement"
              routerLinkActive="active"
              >Product Improvement</a
            >
          </li>
          <li>
            <a
              routerLink="/services/team-augmentation"
              routerLinkActive="active"
              >Team Augmentation</a
            >
          </li>
          <li>
            <a
              routerLink="/services/smart-iot-solutions"
              routerLinkActive="active"
              >Smart IoT Solutions</a
            >
          </li>
        </ul>
      </li>
      <li>
        <a routerLink="/careers" routerLinkActive="active" class="nav-item"
          >Careers</a
        >
      </li>
    </ul>
    <div class="cta">
      <a
        routerLink="/contact-us"
        class="cta-button"
        routerLinkActive="active"
        >Let's Connect →</a
      >
    </div>
  </div>
</nav>
