<section class="testimonials">
  <h2 class="section-title">What Our Clients Say</h2>
  <div class="testimonial-carousel" style="position: relative;">
    <!-- Left Arrow -->
    <button 
      class="carousel-btn prev" 
      [disabled]="isPrevDisabled()" 
      (click)="moveSlide(-1)" 
      aria-label="Previous Testimonial"
      [attr.aria-disabled]="isPrevDisabled()">
      &#10094;
    </button>
    
    <!-- Scrollable Container for Testimonial Cards -->
    <div class="testimonial-container" #testimonialContainer>
      <div class="testimonial-card" *ngFor="let testimonial of testimonials">
        <img [src]="testimonial.logo" loading="lazy" [alt]="testimonial.alt" class="testimonial-logo" />
        <p class="testimonial-text">
          <span class="quote">“</span> {{ testimonial.text }} <span class="quote">”</span>
        </p>
        <p class="testimonial-author">
          <span class="name">{{ testimonial.name }}</span>
          <span class="position">{{ testimonial.position }}</span>
        </p>
      </div>
    </div>
    
    <!-- Right Arrow -->
    <button 
      class="carousel-btn next" 
      [disabled]="isNextDisabled()" 
      (click)="moveSlide(1)" 
      aria-label="Next Testimonial"
      [attr.aria-disabled]="isNextDisabled()">
      &#10095;
    </button>
  </div>
</section>
